@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background: #2e364a;
}

#Path {
    stroke-width: 8px;
    stroke: #000;
    fill: none;

    stroke-dashoffset: 5514.0703125;
    stroke-dasharray: 5514.0703125;
    animation: dash 3s ease-in-out infinite;
}
  
@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}