footer {
    width: 100%;
    position: relative;
    bottom: 0;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding-top: 2.5rem;
    border-top-left-radius: 8vw;
    font-size: .9rem;
    line-height: 1.25rem;
}

.row {
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;    
    justify-content: space-between;     
}

.col {
    padding: 10px;
    flex: 1 1 20%;
    min-width: 200px;
}

.logo {
    width: 250px;
}

.col h3 {
    font-size: 1.3rem;
    line-height: 1.3rem;
    width: fit-content;
    margin-bottom: 2rem;
    position: relative;
}

.email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 1.25rem 0;
}

.col ul li {
    list-style: none;
    margin-bottom: 1rem;
}

.col ul li a {
    text-decoration: none;
    color: #fff;
}

.social-icons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1.25rem;
}

.social-icons > svg {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 70%;
    text-align: center;
    line-height: 2.2rem;
    font-size: 1rem;
    color: #000;
    background: #fff;
    cursor: pointer;
}

.copyright {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    font-size: .8rem;
}

@media screen and (max-width:768px) {
    footer {
        bottom:unset;      
    }
    .row {
        flex-direction: column;
        align-items: center;
    }

    .col {
        flex: 1 1 100%;
        text-align: center;
    }

    .social-icons {
        margin-top: 1rem;
    }
}