@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    background-color: #E0EEEE;
    }

p {
    font-family: "DM Sans", sans-serif;
}

:root {
    --primary-color: #00A2E1;
    --button-color: #005F8D;
}

::-webkit-scrollbar {
    background: black;
    width: 8px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px var(--button-color);
}
  
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 4px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#heart {
    fill: var(--button-color);
}

#Path {
    stroke-width: 14px;
    stroke: greenyellow;
    fill: none;

    stroke-dashoffset: 5514.0703125;
    stroke-dasharray: 5514.0703125;
    animation: dash 3s ease-in-out infinite;
}

.logo-icon-wrap {
    position: relative;
    width: 70%;
    height: auto;

    display: flex;
}

.pulse {
    width: 110px;
    position: absolute;
    left: 16px;
    top: 14px;
    z-index: -1;
}

.heart {
    width: 110px;
}

  
@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(77, 77, 77, 0.466);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.logo {
    font-size: 2rem;
    color: white;
    text-decoration: none;
    font-weight: 700;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navbar a {
    font-size: 1.15rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    /* margin-right: 1.25rem; */
}

.navbar a:hover {
    color: rgb(154, 160, 165);
    transition: all 0.4s ease 0s;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    width: 2.8rem;
    fill: white;
    cursor: pointer;
    display: none;   
}


.cta {
    display: inline-block;
    padding: .6rem .8rem;
    background-color: var(--button-color);
    border-radius: 2rem;
}

.navbar a:hover ~ .cta {
    background-color: #005F8D;
}

/* BREAKPOINT */

@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
        display: flex;
    }
}

@media (max-width: 768px) {
    .icons {
        display:inline-flex;
        position: relative;

    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        height: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(50px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: 0.3s ease;
    }
    
    #check:checked~.navbar {
        height: 22rem;
    }

    .navbar ul {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: 0.3s ease;
    }

    .navbar a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        margin: 1rem 0;
        transition: 0.3s ease;
    }

    .cta {
        background-color: var(--button-color);
        border-radius: 2rem;
    }

    #check:checked~.navbar ul {
        transform: translateY(0);
    }

}



/* Mini Header Sections */

.head-wrap {
    position: relative;
    height: 30vh;
    background-color: var(--primary-color);
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.intro {
    margin: 2vh clamp(2rem, 4vw, 4rem);
    font-size: clamp(1rem, 1vw, 1rem);
    color: #333;
}

.head-wrap h1 {
    color: #fff;
    margin-top: 15vh;
    margin-left: clamp(2rem, 4vw, 4rem);
    font-size: clamp(2.3rem , 4vw, 3rem);
}

@media (max-width: 768px) {
    .head-wrap {
        
        display: flex;
        justify-content: center;
    }

    .head-wrap h1 {
        margin: 20vh 0 0;
    }
}