* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #005F8D;
}

.hero-img {
    background: url('../Images/senior-man-sitting-wheelchair-doctor.webp') no-repeat;
    background-size: cover;
    background-position: top center;
    height: 100dvb;

    /* filter: blur(1px);
    -webkit-filter: blur(1px); */
}

.hero {
    width: 90%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: clamp(2rem, 5vw, 3rem);
    color: #fff;
    margin: 0 auto;
}

.hero-content {
    max-width: 37.5rem;   
}

.hero .left {
    background-color: #56575738;
    backdrop-filter: blur(50px);
    border-radius: .6rem;
    padding: .7rem;
}

.hero h1 {
    font-size: clamp(3rem, 5vw, 4rem);
}

.hero .title {
    margin-bottom: 1rem;
    line-height: 1.1;
}

.hero .em-title {
    animation: TitleFadeIn 2s linear forwards;
}

.hero h1 .highlight {
    background-image: linear-gradient(#005F8D, #005F8D);
    background-size: 0 50%;
    background-repeat: no-repeat;
    padding: 0 4px;
    animation: underline 1s linear 2.4s forwards;
}

.hero .highlight {
    background-image: linear-gradient(#005F8D, #005F8D);
    background-size: 0 80%;
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding: 0 4px;
    animation: underline 2s linear 3.4s forwards;
}

@keyframes underline {
    0% {
        background-size: 0% 80%;
    }

    50% {
        background-size: 50% 80%;
    }

    100% {
        background-size: 100% 80%;
    }
}

@keyframes TitleFadeIn {
    0% {   
    color: #fff;
    }
    100% {   
    color: #005F8D;
    }
}


.hero p, #tagline {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    text-align: center;
}

.cta-button {
    padding: 0.8rem 2rem;
    text-wrap: nowrap;
    background-color: #005F8D;
    color: white;
    text-decoration: none;
    font-size: clamp(1.5rem, 3vw, 1.8rem);
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #00A2E1;
}

@media screen and (max-width:768px) {
    .hero-img {
        background: url('../Images/senior-man-sitting-wheelchair-doctor-mobile.webp') no-repeat;
        background-size: cover;
        background-position: center;
    }

    .hero {
        flex-direction: column;
    }

    .hero .left {
        text-align: center;
    }
}