* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #00A2E1;
    --secondary-color: #5EF5F8;
    --button-color: #005F8D;
    --green: #2add60;
    --dark-blue: #04324D;
}

body {
    background: linear-gradient(195deg, var(--primary-color), var(--button-color), var(--dark-blue));
    background-size: 400% 400%;
    animation: bg-pan-right 8s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite;
    font-family: 'Roboto', sans-serif;
}

@keyframes bg-pan-right {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

main {
    padding-top: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tab-container {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
max-width: 600px;
margin: 2rem auto;
filter: drop-shadow(0 .5rem 0.6rem #1d1d1da8);
/* box-shadow: 0 1rem 1.2rem #ABB2B9; */
}

.tab-container input[type="radio"] {
display: none;
}

.tab-container .tab-button {
width: 50%;
padding: 10px;
background: #e2e2e2;
font-weight: bold;
font-size: 1.4rem;
cursor: pointer;
border-radius: 50px 15px 0 0;
text-align: center;
}

.tab-container .tab {
width: 100%;
padding: 20px;
background: #fff;
order: 1;
display: none;
border-radius: 0 0 15px 50px;
}

.tab-container .tab h2 {
    font-size: 1.2rem;
    text-align: center;  
}

.tab-container input[type='radio']:checked + label + .tab {
display: block;
}

.tab-container input[type="radio"]:checked + label {
background: #fff;
}

form h2 {
font-size: 26px;
font-weight: 600;
text-align: left;
color: #2f4f4f;
padding-bottom: 8px;
}

.content {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding: 1rem 0;
}

.input {
display: flex;
flex-wrap: wrap;
width: 50%;
}

.input:nth-child(2n) {
justify-content: end;
}


.input label, .gender {
width: 95%;
color: #2f4f4f;
font-weight: bold;
margin: 5px 0;
}

.gender-option {
font-size: 1rem;
}

.input input {
height: 25px;
width: 95%;
padding: 0 10px;
border: none;
border-bottom: 2px solid rgba(0, 0, 0, 0.12);
outline: none;
}

::placeholder {
    color: transparent;
}

.input label {
    display: block;
    transform: translateY(-30px);
    pointer-events: none;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.input input:focus::placeholder {
    color: grey;
    transition: all 0.5s;
}

.input input:focus {
    border-bottom: 2px solid var(--primary-color);
}

.input input:focus ~ label,
.input input:valid ~ label {
  transform: translateY(-45px);
  font-size: 14px;
  color: var(--primary-color);
}

input[type="date"]::-webkit-datetime-edit {
    color: transparent;}

input[type="date"]:focus::-webkit-datetime-edit,
input[type="date"]:valid::-webkit-datetime-edit {
    color: grey;
}

.sex-option {
    color: gray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 0 2.2rem;
}

.sex {
    font-weight: bold;
    color: #2f4f4f;
    font-size: 1rem;
}

.sex-option input[type='radio'] {
    display: block;
}

.sex-option label {
    padding: 0 100px 0 5px;
    font-size: 1rem;
}

.sex-option label, .sex-option input {
cursor: pointer;
}

.address {
    width: 110%;
    margin: 0;
}

.address input {
    width: 100%;
}

#province {
    justify-content: start;
}

#postal {
    justify-content: end;
}


.button-container {
margin: 1rem 0;
}

.button-container button {
width: 100%;
height: 2.5rem;
margin-top: 10px;
padding: 10px;
display: block;
font-size: 1rem;
color: #fff;
border: none;
border-radius: 5px;
background-image: linear-gradient(to right, var(--primary-color), var(--dark-blue));
}

.button-container button:hover {
background-image: linear-gradient(to right, var(--secondary-color), var(--button-color));
transition: 1s ease;                
cursor: pointer;
}

.google-btn {
    width: 100%;
    height: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.google-btn:hover {
    background-color: var(--primary-color);
}

.google-icon-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.google-icon {
    fill: #fff;
    height: 30px;
    width: 30px;
}

@media (max-width:600px) {
    .content {
        max-height: 380px;
        overflow: auto;
    }

    .input {
        margin-bottom: 12px;
        width: 100%;
    }
        
    .tab-container {
        margin: 2rem auto;
    }

    .input:nth-child(2n) {
        justify-content: space-between;
    }

    .sex-option {
        display: flex;
        justify-content: space-between;
        /* width: 60%; */
    }

    .legend {
        text-align: center;
    }

    .header-wrap {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
    }

    .e

}