* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

body { 
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
    color: #fff;
}

.head-wrap {
    position: relative;
    height: 30vh;
    background-color: #00A2E1;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.head-wrap h1 {
    margin-top: 10vh;
    margin-left: 5rem;
    font-size: 3rem;

}

.intro {
    margin: 2rem 5%;
    color: #2f4f4f;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 2rem;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.card {
    height: 70vh;
    display: grid;
    grid-template-columns: 27vw;
    grid-template-rows: 40% 40% 20%;
    grid-template-areas: "image" "text" "stats" ;
    margin: 0 2rem;

    border-radius: 1rem;
    background: #fff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;
}

.card-image {
    grid-area: image;
    background-image: url("/Images/img3.jpg");
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-size: cover;
}
.card-text {
    grid-area: text;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-text .date {
    color: #ff076e;
    font-size: 1rem;
}

.card-text p {
    color: gray;
    font-size: 1rem;
}

.card-text h2 {
    height: 40%;
    margin-top: 0px;
    color: black;
}

.card-stats {
    grid-area: stats;
}

.card:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}