@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif; 
}

:root {
    --green: #2add60;
    --blue: #3eb7ed;
    --light-blue: #5EF5F8;
    --dark-blue: #14264C;

    --font-size-title: 32px;
    --line-height-title: 1.4;
    --font-size-caption: 14px;
    --line-height-caption: 1.2;

    --color-text: #222022;
    --border-radius-primary: 32px; 
    --box-shadow: 24px 24px 80px rgba(0,0,0,0.1);
}

body {
    min-height: 100vh;
    /* background: url('/Images/background.jpg') no-repeat;
    background-size: cover;
    background-position: center; */
    /* padding-top: 1000px; */
}

::-webkit-scrollbar {
    background: black;
    width: 8px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px var(--blue);
}
  
::-webkit-scrollbar-thumb {
    background: #6D9FCB;
    border-radius: 4px;
}

.overlay {
    border-image: fill 1 radial-gradient(rgba(92, 91, 91, 0.753) 0%, rgba(67, 68, 68, 0.466) 90%);
}

.hero {
    background: url('../Images/young-female-doctor-posing-corridor-hospital.jpg') no-repeat;
    background-size: cover;
    background-position: top center;
    overflow: hidden;
    /* margin-top: 10vh; */
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    text-align: center;
}

.hero-content {
    animation: fade ease 5s;
}

.hero h1 {
    font-size: clamp(2rem, 5vw, 5rem);
    margin-bottom: 1rem;
    text-shadow: var(--box-shadow);
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.cta-button {
    padding: 0.8rem 2rem;
    background-color: var(--green);
    color: white;
    text-decoration: none;
    font-size: clamp(1rem, 2vw, 1.3rem);
    border-radius: 5px;
}

.cta-button:hover {
    background-color: var(--light-blue);
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the color and transparency */
    z-index: -1; /* Make sure the overlay stays behind the text */
}

/* Health Network Grid */

.health-network {
    margin: 2rem;
	display: grid;
	grid-template-rows: .25fr repeat(2, 1fr);
	grid-template-columns: minmax(200px, 2fr) repeat(auto-fit, minmax(150px, 1fr));
	gap: 1rem; 

    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}

.grid-item {
    background-color: var(--dark-blue);
    border-radius: 8px;
    text-align: center;
    color: white;
    font-size: 1rem;
    box-shadow: var(--box-shadow);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: 0.3s;
}

.grid-item a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 100%;
}

.text-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: var(--box-shadow);
    
    width: 100%;
    height: 40vh;
    transition: all .5s ease;
}

.grid-item:hover {
    background-color: #557ba1;
}

.hover-text {
    display: none;
}

.default-text {
    display: block;
}

.grid-item:hover ~ .text-preview .default-text {
    display: none;
}

.grid-item:hover[data-hover="general-medicine"] ~ .text-preview .hover-text[data-department="general-medicine"],
.grid-item:hover[data-hover="surgery"] ~ .text-preview .hover-text[data-department="surgery"], 
.grid-item:hover[data-hover="pediatrics"] ~ .text-preview .hover-text[data-department="pediatrics"], 
.grid-item:hover[data-hover="maternity-care"] ~ .text-preview .hover-text[data-department="maternity-care"], 
.grid-item:hover[data-hover="emergency-care"] ~ .text-preview .hover-text[data-department="emergency-care"], 
.grid-item:hover[data-hover="rehabilitation"] ~ .text-preview .hover-text[data-department="rehabilitation"] {
    display: block;
}

#div1 {
	grid-area: 1 / 1 / 4 / 2;
    background-color: #2aa5c9;
    padding: 1rem;
    border-radius: .5rem;
    color: white;
}
#div2 {
    grid-area: 1 / 2 / 2 / 5;
    text-align: center;
}
#div3 {
	grid-area: 2/2/3/3;
}
#div4 {
	grid-area: 2/3/3/4;
}
#div5 {
	grid-area: 2/4/3/5;
}
#div6 {
	grid-area: 3/2/4/3;
}
#div7 {
	grid-area: 3/3/4/4;
}
#div8 {
	grid-area: 3/4/4/5;
}

/* Blog CSS */

.blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    width: 90%;
    border-radius: var(--border-radius-primary);
    box-shadow: 24px 24px 80px rgba(0,0,0,0.1);
    padding: 20px 20px 28px 20px;
    margin: .4rem 3rem;
    display: flex;
    gap: 2rem;
    background-color: #fff;
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}


.card p {
    font-size: 1rem;
}

.card__image {
    width: 100%;
    max-height: 300px;
    border-radius: var(--border-radius-primary);
    object-fit: cover;
    margin-bottom: 1rem;
}


.card__date {
    display: block;
    font-size: var(--font-size-caption);
    line-height: var(--line-height-caption);
    text-transform: uppercase;
    color: var(--color-text);
    margin-bottom: 6px;
}

.card__title {
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
    color: var(--color-text);
    background-image: linear-gradient(90deg, var(--light-blue), var(--blue));
    background-size: 0;
    background-repeat: no-repeat;
    background-position: 0 85%;
    padding: 0 4px;
    margin-left: -4px;
    transition: 0.3s ;
}

.card:hover .card__title {
    animation: underline 1s linear;
    animation-fill-mode: forwards
}

@keyframes underline {

    0% {
        background-size: 0% 42%;
    }

    50% {
        background-size: 50% 42%;
    }

    100% {
        background-size: 100% 42%;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translate();
    }
    100% {
        opacity: 1;
        transform: translate();
    }
}



@media (max-width: 768px) {
    .health-network {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* Adjust grid on smaller screens */
    }

    .grid-item {
        font-size: 0.9rem; /* Reduce font size on smaller screens */
        padding: 0.3rem; /* Less padding */
    }

    .card {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .health-network {
        display: flex;
        flex-direction: column;
        gap: 0.5rem; /* Add some gap between items */
    }

    .grid-item {
        font-size: 0.8rem; /* Further reduce font size for very small screens */
        padding: 0.2rem; /* Minimal padding */
    }

    #div1 {
        padding: 0.8rem; /* Adjust text-preview padding */
    }
}